.tools {
    margin: 10px 0;
    display: flex;
    justify-content: center;

    span {
        padding: 5px;
        cursor: pointer;
    }

    span:hover {
        background-color: #eeeeee;
    }
}