.menu {
    box-sizing: border-box;
    height: 100%;
    width: 15%;
    display: inline-block;
    border-right: 1px solid #f0f0f0;

    :global {
        .user-box {
            padding: 10px;
            text-align: center;
        }

        .ant-menu {
            border-inline-end: 0 !important;
        }
    }
}